html {
    width: 100%;
    height: 100%;
}
body {
    padding: 0;
    margin: 0 auto;
    background-image: url("/img/PNG/bgimg.png");
    background-size: 100%;
    background-repeat: no-repeat;
}


.main-blok {
    display: flex;
    justify-content: center;
    align-self: center;
}

.frame {
    display: flex;
    flex-direction: column;
    width: 570px;
    height: 685px;
    background-color: #F5DD9C;
    border: 9px solid #F4F3CF;
    border-radius: 50px;
    justify-content: space-around;
    position: relative;
    gap: 10px;
}

.rezonate-drop {
    width: 190px;
    height: 190px;
    background-repeat: no-repeat;
    background-image: url("/img/svg/elipss.svg");
    align-self: center;
    
}
/*-----------------------line------------------------*/
.calimba-rod {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}
.line-rod {
    width: 450px;
    height: 10px;
    background-color: #F4E3E3;
}
.line-rod-2 {
    width: 450px;
    height: 10px;
    background-color: #F4E3E3;
}
.line-fat {
    width: 450px;
    height: 38px;
    background-color: #F9DCDC;
    border: 2px solid #D4C5C5;
    border-radius: 21px;
    z-index: 2;
}

/*----------------------------------keys stule------------------------------------------*/
.eight-keys {
    display: flex;
    justify-content: center;
    gap: 22px;
    align-items: flex-start;
    z-index: 1;
    position: absolute;
    left: 13%;
    top: 10%;
}

.but-1 {
    border-radius: 21px;
    height: 245px;
   
}
.but-2 {
    border-radius: 21px;
    height: 282px;
}.but-3 {
    border-radius: 21px;
    height: 306px;
}.but-4 {
    border-radius: 21px;
    height: 336px;
}.but-5 {
    border-radius: 21px;
    height: 311px;
}.but-6 {
    border-radius: 21px;
    height: 264px;
}.but-7 {
    border-radius: 21px;
    height: 256px;
}.but-8 {
    border-radius: 21px;
    height: 227px;
}
/*---------------------------------------animation-----------------------------------------------*/
.start {
    position: relative;
    animation: vibration-strigs;
    animation-duration: 2ms;
    animation-iteration-count: 100;
    animation-timing-function: cubic-bezier(0.68,-0.55,0.265,1.55);
}
@keyframes vibration-strigs {
    0% {
        left: 0.5%;
    }
    100% {
        right: 0.5%;
        border: 2px solid #D4C5C5;
    }

}

.type {
    color: #ECECEC;
    border: 6px solid #F4E3E3;
    border-radius: 21px;
    width: 33px;
}